<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.crmdemo.modules.stats.mapper.ServiceCTRBMapper">
    <select id="queryCsrStats" resultType="com.example.crmdemo.modules.stats.model.EchartsPiePojo">
        SELECT
        t_cus_service.csr AS `name`,
        count(id) AS `value`
        FROM
        t_cus_service
        GROUP BY
        t_cus_service.csr
    </select>

    <select id="queryServiceTypeStats" resultType="com.example.crmdemo.modules.stats.model.EchartsPiePojo">
        SELECT
            service_type AS `name`,
            count(id) AS `value`
        FROM
            t_cus_service
        GROUP BY
            service_type
    </select>
</mapper>