<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crmdemo.modules.customer.mapper.TCusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.crmdemo.modules.customer.model.TCus">
        <id column="id" property="id" />
        <result column="cus_num" property="cusNum" />
        <result column="cus_name" property="cusName" />
        <result column="area" property="area" />
        <result column="cus_manager" property="cusManager" />
        <result column="level" property="level" />
        <result column="csr" property="csr" />
        <result column="ccr" property="ccr" />
        <result column="cus_address" property="cusAddress" />
        <result column="postal_code" property="postalCode" />
        <result column="cus_phone" property="cusPhone" />
        <result column="cus_fax" property="cusFax" />
        <result column="website" property="website" />
        <result column="social_credit_code" property="socialCreditCode" />
        <result column="artificial_person" property="artificialPerson" />
        <result column="registered_capital" property="registeredCapital" />
        <result column="annual_turnover" property="annualTurnover" />
        <result column="account_bank" property="accountBank" />
        <result column="account_num" property="accountNum" />
        <result column="loss_status" property="lossStatus" />
        <result column="is_valid" property="isValid" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!--查询流失客户
    流失客户规则定义：
    客户自创建起超过六个月未与企业产生任何有效（已支付）订单
    或
    最后下单日期距离当前日期超过六个月的客户
    满足以上条件则定义为流失客户
    -->
    <select id="queryLossCus" resultType="com.example.crmdemo.modules.customer.model.TCus">
        SELECT *
        FROM t_cus c
        WHERE is_valid = 0
          AND loss_status = 0
          AND DATE_ADD(
                      c.create_date,
                      INTERVAL 6 MONTH
        ) &lt; NOW()
          AND c.id NOT IN (
            SELECT DISTINCT cus_id
            FROM t_cus_order o
            WHERE is_valid = 0
              AND o.state = 1
              AND DATE_ADD(
                          o.create_date,
                          INTERVAL 6 MONTH
        ) &gt; NOW()
        )
    </select>

    <!-- 批量更新客户流失状态 -->
    <update id="updateCusLossStatusByIds" >
        UPDATE t_cus
        SET loss_status = 1
        WHERE
        id IN
        <foreach collection="list" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
    </update>
</mapper>
