<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crmdemo.modules.system.mapper.TModuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.crmdemo.modules.system.model.TModule">
        <id column="id" property="id" />
        <result column="module_name" property="moduleName" />
        <result column="module_style" property="moduleStyle" />
        <result column="url" property="url" />
        <result column="parent_id" property="parentId" />
        <result column="parent_opt_value" property="parentOptValue" />
        <result column="grade" property="grade" />
        <result column="opt_value" property="optValue" />
        <result column="orders" property="orders" />
        <result column="is_valid" property="isValid" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

</mapper>
