<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crmdemo.modules.customer.mapper.TOrderDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.crmdemo.modules.customer.model.TOrderDetails">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_num" property="goodsNum" />
        <result column="unit" property="unit" />
        <result column="price" property="price" />
        <result column="total" property="total" />
        <result column="remark" property="remark" />
        <result column="is_valid" property="isValid" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

</mapper>
