<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crmdemo.modules.system.mapper.TPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.crmdemo.modules.system.model.TPermission">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="module_id" property="moduleId" />
        <result column="acl_value" property="aclValue" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>


    <!-- 通过角色编号查询权限记录数 -->
    <select id="countPermissionByRoleId" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            t_permission
        WHERE
            role_id = #{roleId}
    </select>

    <!-- 通过角色编号删除相应权限记录 -->
    <delete id="deletePermissionByRoleId" parameterType="int">
        DELETE
        FROM
            t_permission
        WHERE
            role_id = #{roleId}
    </delete>
</mapper>
