<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crmdemo.modules.system.mapper.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.crmdemo.modules.system.model.TUser">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="true_name" property="trueName" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="remark" property="remark" />
        <result column="is_valid" property="isValid" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 查询用户真实姓名-对应角色名 -->
    <select id="listUserRoleName" resultType="java.util.Map">
        SELECT
            t_user.true_name AS trueName,
            t_role.role_name AS roleName
        FROM
            t_user
                INNER JOIN t_user_role ON t_user_role.user_id = t_user.id
                INNER JOIN t_role ON t_role.id = t_user_role.role_id
    </select>

    <!-- 查询用户信息视图（含用户角色） -->
    <select id="pageListUser" resultType="java.util.Map">
        SELECT
            t_user.id as id,
            t_user.user_name as userName,
            t_user.user_pwd as userPwd,
            t_user.true_name as trueName,
            t_user.email as email,
            t_user.phone as phone,
            t_user.remark as remark,
            t_role.role_name as roleName,
            t_user.create_date as createDate,
            t_user.update_date as updateDate
        FROM
            t_user
                LEFT JOIN
            t_user_role
            ON
                t_user_role.user_id = t_user.id
                LEFT JOIN
            t_role
            ON
                t_role.id = t_user_role.role_id
        WHERE
            t_user.is_valid = 0
        <if test="tUserDTO.userName != '' and tUserDTO.userName != null">
            AND t_user.user_name like CONCAT('%',#{tUserDTO.userName},'%')
        </if>

        <if test="tUserDTO.email != '' and tUserDTO.email != null">
            AND t_user.email = #{tUserDTO.email}
        </if>

        <if test="tUserDTO.phone != '' and tUserDTO.phone != null">
            AND t_user.phone = #{tUserDTO.phone}
        </if>

        <if test="tUserDTO.trueName != '' and tUserDTO.trueName != null">
            AND t_user.true_name like CONCAT('%',#{tUserDTO.trueName},'%')
        </if>

        <if test="tUserDTO.remark != '' and tUserDTO.remark != null">
            AND t_user.remark like CONCAT('%',#{tUserDTO.remark},'%')
        </if>
    </select>
</mapper>
